body{
    background-color: #e6e7ff;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.logo{
    float: left;
    height: 130px;
    display: flex;
    margin-bottom: 20px;
}
.wyszukiwarka{
    float: right;
    height: 50px;
    width: 380px;
    display: flex;
    background-color: #e6e6e6;
}
#lupa{     
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}
.menu{
    background-color: #6b6764;
    font-size: 18px;
    font-family: Arial;
    color: #e6e6e6;
    width: 920px;           
    justify-content: space-between;
    display: flex;
    height: 30px;
}
.header{
    display: flex;
    align-items:flex-end;
    width: 920px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.menu div.homepage{
    flex: 4;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
.menu div.mężczyźni{
    flex: 2;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    
}
.menu div.kobiety{
    flex: 2;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
.menu div.wyprzedaż{
    flex: 2;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
.menu div.kontakt{
    flex: 2;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
.wyszukiwarka input[type="text"]{
    padding: 7px 7px;
    margin-left: 30px;
    text-align: center;
    border: 1px solid #6b6764;
    color: #6b6764;
    background-color: #e6e6e6;
    font-family: Arial;
    font-size: 14px;
    width: 240px;
    display: flex;
    margin-top: 9px;
}
.menu a{
    text-decoration: none;
    background-color: #6b6764;
    font-size: 18px;
    font-family: Arial;
    color: #e6e6e6;
}
.mapa{
    margin-top: 20px;
}
.footer{
    margin-top: 20px;
    width: 920px;
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    width: 920px;
    height: 120px;
    color: #6b6764;
    font-family: Arial;
}
.openHours{
    display: flex;
    width: 260px;
    margin-left: 20px;
    margin-top: 20px;
}
.contact{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}
.socialmedia{
    display: flex;
    justify-content: space-evenly;
    width: 240px;
    margin-top: 20px;
}